{% extends "base.html" %}

{% block content %}
  <h1>Корзина</h1>
  <ul>
    {% for item in cart_items %}
      <li>
        {{ item.product.name }} - {{ item.product.price }} ₽ x {{ item.quantity }}
        <form action="{% url 'cart:remove_from_cart' item.product.id %}" method="post">
          {% csrf_token %}
          <button type="submit">Удалить</button>
        </form>
      </li>
    {% endfor %}
  </ul>
  <h3>Общая сумма: {{ total_amount }} ₽</h3>
  <a href="#">Оформить заказ</a>
{% endblock %}
