{% extends "main/base.html" %}
{% load static %}

{% block content %}
        <div class="gallery-container">
            <div class="gallery">
                <img src="assets/photo1.jpg" alt="Photo 1" class="gallery-img">
                <img src="assets/photo2.jpg" alt="Photo 2" class="gallery-img">
                <img src="assets/photo3.jpg" alt="Photo 3" class="gallery-img">
                <img src="assets/1pub.webp" alt="Photo 4" class="gallery-img">
                <img src="assets/banner.png" alt="Photo 5" class="gallery-img">
                <img src="assets/karaganda.jpg" alt="Photo 6" class="gallery-img">
                <img src="assets/object1.svg" alt="Photo 7" class="gallery-img">
                <img src="assets/photo8.jpg" alt="Photo 8" class="gallery-img">
                <img src="assets/photo9.jpg" alt="Photo 9" class="gallery-img">
                <img src="assets/photo10.jpg" alt="Photo 10" class="gallery-img">
            </div>
        </div>
    </main>
{% endblock  %}

