{% extends "main/base.html" %}
{% load static %}

{% block content %}
    <div class="content">
        {% for new in news %}    
            <div class="item">
                <img class="item-img" src="{{ new.image_news.url }}" alt="object">
                <div class="item-details">
                    <div class="item-name">{{ new.title_news }}</div>
                    <div class="item-desc">{{ new.text_news }}</div>
                    <a href="{{ new.link_news }}" ><button class="item-button add-to-cart">ПОДРОБНЕЕ</button></a>
                </div>
            </div>
        <div class="strip"></div>
        {% endfor %}
    </div>
{% endblock %}