{% extends "main/base.html" %}
{% load static %}

{% block content %}
        <div class="content">    
            <div class="item">
                <img class="item-img" src="assets/object1.svg" alt="object">
                <div class="item-details">
                    <div class="item-name">Эксперт космической отрасли: совершенно нормально уже говорить о Марсе</div>
                    <div class="item-desc">Российские и китайские ученые обсуждают возможность совместного изучения Марса, заявил научный руководитель Института космических исследований РАН Лев Зеленый</div>
                    <a href="https://radiosputnik.ru/20240408/mars-1938692234.html" ><button class="item-button add-to-cart">ПОДРОБНЕЕ</button></a>
                </div>
            </div>
            <div class="strip"></div>
            <div class="item">
                <img class="item-img" src="assets/object1.svg" alt="object">
                <div class="item-details">
                    <div class="item-name">Публикация</div>
                    <div class="item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore numquam aspernatur dolore odit blanditiis, dicta eius explicabo laboriosam? Est explicabo distinctio labore asperiores mollitia quae illum autem, temporibus ab repudiandae.</div>
                    <button class="item-button add-to-cart">ПОДРОБНЕЕ</button>
                </div>
            </div>
            <div class="strip"></div>
            <div class="item">
                <img class="item-img" src="assets/object1.svg" alt="object">
                <div class="item-details">
                    <div class="item-name">Публикация</div>
                    <div class="item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore numquam aspernatur dolore odit blanditiis, dicta eius explicabo laboriosam? Est explicabo distinctio labore asperiores mollitia quae illum autem, temporibus ab repudiandae.</div>
                    <button class="item-button add-to-cart">ПОДРОБНЕЕ</button>
                </div>
            </div>
            <div class="strip"></div>
            <div class="item">
                <img class="item-img" src="assets/object1.svg" alt="object">
                <div class="item-details">
                    <div class="item-name">Публикация</div>
                    <div class="item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore numquam aspernatur dolore odit blanditiis, dicta eius explicabo laboriosam? Est explicabo distinctio labore asperiores mollitia quae illum autem, temporibus ab repudiandae.</div>
                    <button class="item-button add-to-cart">ПОДРОБНЕЕ</button>
                </div>
            </div>
            <div class="strip"></div>
            <div class="item">
                <img class="item-img" src="assets/object1.svg" alt="object">
                <div class="item-details">
                    <div class="item-name">Публикация</div>
                    <div class="item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore numquam aspernatur dolore odit blanditiis, dicta eius explicabo laboriosam? Est explicabo distinctio labore asperiores mollitia quae illum autem, temporibus ab repudiandae.</div>
                    <button class="item-button add-to-cart">ПОДРОБНЕЕ</button>
                </div>
            </div>
        </div>
{% endblock %}