{% extends "base.html" %}
{% load static %}
{% block content %}
<script src="log.js" defer></script>
        <div class="auth-container">
            <div class="tabs">
                <button class="tab-link active" onclick="openTab(event, 'login')">Вход</button>
                <button class="tab-link" onclick="openTab(event, 'register')">Регистрация</button>
            </div>
            <div id="login" class="tab-content active">
                <h2>Вход</h2>
                <form id="login-form">
                    <label for="login-email">Email:</label>
                    <input type="email" id="login-email" name="email" required>
                    <label for="login-password">Пароль:</label>
                    <input type="password" id="login-password" name="password" required>
                    <button type="submit">Войти</button>
                </form>
            </div>
            <div id="register" class="tab-content">
                <h2>Регистрация</h2>
                <form id="register-form">
                    <label for="register-email">Email:</label>
                    <input type="email" id="register-email" name="email" required>
                    <label for="register-password">Пароль:</label>
                    <input type="password" id="register-password" name="password" required>
                    <label for="register-confirm-password">Подтвердите пароль:</label>
                    <input type="password" id="register-confirm-password" name="confirm-password" required>
                    <button type="submit">Зарегистрироваться</button>
                </form>
            </div>
        </div>
{% endblock content %}   