{% extends "base.html" %}
{% load static %}
{% block head %}
<script src="{% static "log.js" %}" defer></script>
<link rel="stylesheet" href="{% static "formstyle.css" %}">
{% endblock  %}
{% block content %}
<div class="auth-container"> 
    <div id="login" class="tab-content active">
        <h2>Вход</h2>
        <form action="{% url 'users:autho' %}" method="post" id="login-form">
            {% csrf_token %}

            {% if form.non_field_errors %}
                <p>{{ form.non_field_errors }}</p>
            {% endif %}

            {% for item in form %}
                <label for="{{ item.id_for_label }}">{{ item.label }}</label>
                {{ item }}
            {% endfor %}
            <button type="submit">Войти</button> 
        </form>
        <p class="owners-title"></p>
        <div class="tabs">
            <a class="nav" href={% url "users:register" %}>Еще нет аккаунта?<a>
        </div> 
    </div>
</div>
{% endblock content %}   




