{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="profile-container">
    <h1>Профиль пользователя</h1>
    <p class="user-email">Логин: <span class="user-email">{{ username }}</span></p>
    <p class="user-email">Email: <span class="user-email">{{ email }}</span></p>
    <p class="owners-title"></p>
    <a class="logout-button" href="{% url 'users:logout' %}">Выйти из аккаунта</a>

    <div class="purchased-plots">
        <h2>История покупок</h2>
        {% for order in orders %}
            {% for item in order.orderitem_set.all %}
                <div class="item" style="background-color: #EFECEC;">
                    {% if item.plot.image %}
                        <img src="{{ item.plot.image.url }}" alt="{{ item.plot.size }}" class="item-img">
                    {% else %}
                        <img src="{% static 'assets/default-plot.jpg' %}" alt="Участок" class="item-img">
                    {% endif %}
                    <div class="item-details">
                        <p class="item-name">{{ item.plot.size }}</p>
                        <p class="item-quantity">Количество: {{ item.quantity }}</p>
                        <p class="item-price">₽{{ item.plot.price}}</p>
                        <a href="#" class="item-button">Скачать сертификат</a>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}