{% extends "base.html" %}
{% load static %}
{% block head %}
<script src="{% static "log.js" %}" defer></script>
<link rel="stylesheet" href="{% static "formstyle.css" %}">
{% endblock  %}
{% block content %}
<div class="auth-container"> 
    <div class="tabs">
        
    </div> 
    <div id="register" class="tab-content active">
        <h2>Регистрация</h2>
        <form action="{% url 'users:register' %}" method="post" id="register-form">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Зарегистрироваться</button>
        </form>
        <p class="owners-title"></p>
        <div class="tabs">
            <a class="nav" href={% url "users:autho" %}>Уже есть аккаунт?<a>
        </div> 
    </div>
</div>
{% endblock content %}   