.auth-container {
    width: 50%;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: var(--main-color);
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-link {
    background-color: var(--a-color);
    color: var(--main-color);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tab-link.active, .tab-link:hover {
    background-color: #b33b0d;
}

.tab-content {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(20px);
}

.tab-content.active {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.auth-container h2 {
    text-align: center;
    color: var(--a-color);
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    color: var(--a-color);
    font-weight: bold;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: var(--a-color);
    color: var(--main-color);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #b33b0d;
}

.form-column {
    display: inline-block;
    width: 48%;
    padding: 10px;
}