{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static "assets/favicon.png" %}" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="{% static "style.css" %}">
    {% block head %}{% endblock  %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static "script.js" %}" defer></script>
    <title>{{ title }}</title>
</head>
<body>
    <!-- Аппер -->
    <header>
        <div class="upper_container">
            <div class="upper__content">
                <a class="infohead" href="{% url "main:faq" %}">FAQ</a>
                <a class="infohead" href="mailto:CosmoGround@gmail.com">CosmoGround@gmail.com</a>
            </div>
        </div>
        <!-- Хеадер -->
        <div class="header__content">
            <div class="header__container">
                <a href="{% url "main:index" %}"><img class="nav" src="{% static "assets/logo.svg" %}" alt="logo"></a>
                <a class="nav" href="{% url "additions:public" %}">ИНТЕРЕСНОЕ</a>
                <a class="nav" href="{% url "additions:gallery" %}">ГАЛЕРЕЯ</a>
                {% if not user.is_authenticated %}
                    <a class="nav" href= "{% url "users:autho" %}">ВОЙТИ</a>
                {% else %}
                    <a class="nav" href="{% url "users:profile" %}">ПРОФИЛЬ</a>
                {% endif %}
                <a class="nav" id="open-cart">КОРЗИНА <span id="cart-count" class="cart-count">0</span></a>
            </div>
        </div>
    </header>
    <!-- Мейн -->
    <main>
        {% block content %}{% endblock  %}
    </main>
    <!-- ФУТЕР -->
    <footer>
        <p>Свяжитесь с нами</p>
        <div class="social-icons">
            <a href="https://t.me/yourlink" target="_blank"><i class="fa fa-telegram tg-ico" style="font-size: 1.6rem;"></i></a>
            <a href="https://vk.com/yourlink" target="_blank"><i class="fa fa-vk vk-ico" style="font-size: 1.6rem;"></i></a>
        </div>
        <a href="tel:880055с53535" class="infohead">88005553535</a>
        <p>©CosmoGround 2024</p>
    </footer>

    <!-- Корзина -->
    <div id="cart-modal" class="modal">
        <div class="modal-content">
            <span class="close-button" onclick="closeModal()">&times;</span>
            <h2>Корзина</h2>
            <div class="cart-details">
                <div class="cart-items-container">
                    <ul id="cart-items" class="cart-items"></ul>
                    <div class="total-amount">
                        <h3>Общая сумма: <span id="total-amount">₽0</span></h3>
                    </div>
                </div>
                
                <div class="order-form-container">
                    <form id="order-form">
                        <label for="cardholder">Имя держателя карты:</label>
                        <input type="text" id="cardholder" name="cardholder" required>
    
                        <label for="cardnumber">Номер карты:</label>
                        <input type="text" id="cardnumber" name="cardnumber" required pattern="\d{16}" title="Номер карты должен состоять из 16 цифр">
                        
                        <label for="expiry">Срок действия (MM/YY):</label>
                        <input type="text" id="expiry" name="expiry" required pattern="\d{2}/\d{2}" title="Введите срок действия в формате MM/YY">
                        
                        <label for="cvc">CVC код:</label>
                        <input type="text" id="cvc" name="cvc" required pattern="\d{3}" title="CVC код должен состоять из 3 цифр">
                        
                        <button type="submit">Оформить заказ</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>