{% extends "base.html" %}
{% load static %}

{% block content %}
<div class = "content">
    <h2 class="owners-section">Корзина  <span class="user-email"> {{ username }}</span></p></h2>
    <ul>
        {% for item in cart.cartitem_set.all %}
            <p class="item-name">{{ item.plot.size }} - {{ item.quantity }} шт. - ₽{{ item.plot.price }}</p>
            <p class="owners-title"></p>
            <form method="POST" action="{% url 'main:remove_from_cart' item.id %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="item-button">Удалить</button>
            </form>
            <p class="owners-title"></p>
            
            
        {% endfor %}
    </ul>
    <p class="item-name">Общая сумма: ₽{{ cart.get_total_cost }}</p>
    <p class="owners-title"></p>
    <a href="{% url 'main:checkout' %}" class="item-button">Оформить заказ</a>
</div>
{% endblock %}
