{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="content">
    
    <h2 class="item-name">Оформление заказа</h2>
    <p class="owners-title"></p>
    <form method="POST">
        {% csrf_token %}
        <div>
            <label for="id_cardholder_name">Имя держателя карты:</label>
            {{ form.cardholder_name }}
        </div>
        <div>
            <label for="id_card_number">Номер карты:</label>
            {{ form.card_number }}
        </div>
        <div>
            <label for="id_expiry_date">Срок действия (MM/YY):</label>
            {{ form.expiry_date }}
        </div>
        <div>
            <label for="id_cvc">CVC код(3 цифры на обороте карты):</label>
            {{ form.cvc }}
        </div>
        <button type="submit">Готово</button>
    </form>
</div>
{% endblock %}