{% extends "base.html" %}
{% load static %}

{% block content %}
        <div class="faq-container">
            <h1>Часто задаваемые вопросы</h1>
            <div class="faq">
                <div class="faq-item">
                    <button class="faq-question">Что такое CosmoGround?</button>
                    <div class="faq-answer">
                        <p>CosmoGround предлагает земельные участки на Марсе по доступным ценам. Покупка включает электронный сертификат.</p>
                    </div>
                </div>
                <div class="faq-item">
                    <button class="faq-question">Как я могу купить участок?</button>
                    <div class="faq-answer">
                        <p>Вы можете выбрать участок на нашем сайте и добавить его в корзину, затем оформить заказ, указав ваши контактные данные.</p>
                    </div>
                </div>
                <div class="faq-item">
                    <button class="faq-question">Что входит в покупку участка?</button>
                    <div class="faq-answer">
                        <p>Каждая покупка включает электронный сертификат, который будет доступен у вас в профиле.</p>
                    </div>
                </div>
                <div class="faq-item">
                    <button class="faq-question">Как долго идет обработка заказа?</button>
                    <div class="faq-answer">
                        <p>Заказы обрабатываются в течение 24 часов после получения оплаты.</p>
                    </div>
                </div>
            </div>
        </div>
{% endblock  %}