{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="content">
    <div class="banner">
        <p class="banner-title">COSMO GROUND</p>
        <p class="banner-text">САМЫЕ НИЗКИЕ ЦЕНЫ НА ЗЕМЕЛЬНЫЕ УЧАСТКИ НА МАРСЕ</p>
    </div>
    {% for item in plots %}
    <div class="item">
        {% if item.image %}
            <img class="item-img" src="{{ item.image.url }}" alt="object">
        {% endif %}
        <div class="item-details">
            <div class="item-name">{{ item.size }}</div>
            <div class="item-price">₽{{ item.price }}</div>
            <div class="item-desc">При покупке в профиле будет доступен сертификат</div>
            
            <form method="post" action="{% url 'main:add_to_cart' item.id %}">
                {% csrf_token %}
                <input type="hidden" name="plot" value="{{ item.id }}">
                <input type="hidden" name="quantity" value="1">
                <button type="submit" class="item-button">В КОРЗИНУ</button>
            </form>
        </div>
    </div>
    <div class="strip"></div>
    {% endfor %}
    <div class="owners-section">
        <h2 class="owners-title">У кого уже есть участки на Марсе</h2>
        <div class="owners-gallery">
            <div class="owner-item">
                <img src="{% static "assets/karaganda.jpg" %}" alt="Owner 1" class="owner-img">
            </div>
            <div class="owner-item">
                <img src="{% static "assets/photo1.jpg" %}" alt="Owner 2" class="owner-img">
            </div>
            <div class="owner-item">
                <img src="{% static "assets/photo2.jpg" %}" alt="Owner 3" class="owner-img">
            </div>
            <div class="owner-item">
                <img src="{% static "assets/photo3.jpg" %}" alt="Owner 4" class="owner-img">
            </div>
        </div>
    </div>
    <h2 class="owners-title"></h2>
</div>
{% endblock  %}
